<header>
  <div class="header">
    <div class="header_image">

    </div>
    <div class="header_text">
      АНИМЕ КРОКОДИЛ
    </div>
  </div>
</header>
<main>
<div class="big_main_block">
  <div class="anime_title">
    {{animeList[animeIndex].name}}/{{animeList[animeIndex].russian}}
  </div>
  <div class="all_content_block">
    <div class="anime_pic"
      [ngStyle]="{'background-image': 'url(' + api.host + animeList[animeIndex].image.original + ')'}">
    </div>
    <div class="right_content_block">
      <div class="timer">
        <div class="timer_text">
          TIMER:
        </div>
        <div class="timer_number">
          58
        </div>
      </div>
      <div class="description">
        <div class="description_line">
          Вдруг описание поможет
        </div>
        <div class="description_block" [innerHtml]="animeItem.description_html">
        </div>
      </div>
    </div>
  </div>
  <button type="button" name="guessed" class="guessed_button" (click)="next()">
    ОТГАДАНО
  </button>
</div>
</main>
